@media (max-width: 1200px){
  .consultation {
    display:none;
  }
  .consultation-mobile {
    display:block;
  }
  .emergency-opening .plyr{
    min-width: 343px;
  }
}
@media (max-width: 1050px){
 .features__inner{
  justify-content: space-around;
 }
}
@media (max-width: 867px){
  .application span{
    display: none;
  }
}
@media (max-width: 840px){
  .emergency-opening__title{
    font-size: 35px;
    line-height: 40px;
  }
  .emergency-opening__subtitle{
    font-size: 16px;
    line-height: 23px;
  }
}
@media (max-width: 767px){
  .user{
    display: none;
  }
}
@media (max-width: 719px){
  .nav__menu{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
  .emergency-opening__buttons{
    gap: 6px;
  }
  .emergency-opening__btn{
    width: 177px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    gap: 6px;
  }
  // .emergency-opening__btn-phone{
  //   padding-top: 3px;
  // }
  .emergency-opening__btn-phone::before{
    left: 15px;
    scale: 1;
  }
  @keyframes ring {
    0% {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 1;
    }
    100% {
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      opacity: 0;
    }
  }
  .emergency-opening__btn-master span{
    font-size: 10px;
    line-height: 16px;
    padding: 3px 7px;
  }
  .emergency-opening .video-text{
    bottom: 25px;
    left: 25px;
    scale: 1;
  }
}
@media (max-width: 600px){
  .application{
    display: none;
  }
}
@media (max-width: 580px){
  .features .feature-title{
    font-size: 18px;
    line-height: 28px;
  }
  .features .feature-subtitle{
    font-size: 12px;
    line-height: 15px;
  }
  .features .feature-icon{
    padding-right: 10px;
  }
  .feature-icon img{
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 539px){
  .page-menu__list{
    height: 46px;
  }
  .page-menu__list-item {
    font-size: 12px;
    line-height: 14px;
  }
  .emergency-opening__title{
    font-size: 24px;
    line-height: 29px;
  }
  .emergency-opening__subtitle{
    font-size: 14px;
    line-height: 19px;
  }
  .emergency-opening__video {
    max-width: 360px;
    min-height: 250px;
  }
  .emergency-opening .video-btn{
    left: 75%;
  }
  .emergency-opening .video-text{
    bottom: 5px;
    left: 5px;
    scale: .8;
  }
}
@media (max-width: 450px){
  .phone{
    width: 154px;
    height: 31px;
    margin-right: 0;
  }
  .contact-us__inner{
    min-height: 50px;
    margin: 0 -7px;
    gap: 7px;
  }
  .phone-link{
    font-size: 13px;
    line-height: 20px;
    width: 128.1px;
    // height: 15px;
    letter-spacing: 0.5px;
    padding: 1px 0 0 16.09px;
  }
  .phone-link::before {
    width: 12px;
    height: 12px;
    top: 11px;
  }
  .consultation-mobile{
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 390px){
  .main-header {
    min-height: 57px;
  }
  .logo a {
    font-size: 28px;
    line-height: 44px;
  }
  .logo span {
    font-size: 11px;
    line-height: 17px;
    right: -50px;
  }
  .page-menu__list-item--link {
    padding: 14.48px 0 14.96px 0;
  }
  .phone{
    width: 145px;
    height: 31px;
  }
  .consultation-mobile{
    font-size: 13px;
    line-height: 20px;
  }
  .emergency-opening__title {
    font-size: 22px;
    line-height: 27px;
  }

  .features .feature {
    max-width: 256px;
  }
  .menu__box{
    top: 40px;
  }
  .menu__btn::before {
    font-size: 12px;
    line-height: 19px;
  }
  .emergency-opening__inner {
    padding: 36px 0 33px;
  }
  .emergency-opening__subtitle {
    font-size: 13.2018px;
    line-height: 18px;
  }
  .emergency-opening__video {
    min-width: 340px;
    margin: 0 -5px 28px -5px;
  }
  .features .feature-icon {
    padding-right: 13px;
  }
  .features .feature-title {
    font-size: 16px;
    line-height: 26px;
  }
  .features .feature-subtitle {
    font-size: 11.3158px;
    line-height: 14px;
    padding: 7px 0 0 0;

  }
//   .emergency-opening__subtitle {
//     font-size: 12px;
//     line-height: 18px;
//   }
  // .emergency-opening__btn-phone{
  //   padding-left: 15px;
  // }
}
// @media (max-width: 360px) {
  
//   .menu__btn::before {
//     font-size: 12px;
//     line-height: 19px;
//   }
//   .emergency-opening__inner {
//     padding: 36px 0 33px;
//   }
//   .emergency-opening__subtitle {
//     font-size: 13.2018px;
//     line-height: 18px;
//   }
//   .emergency-opening__video {
//     min-width: 340px;
//     margin: 0 -5px 28px -5px;
//   }
//   .features .feature-icon {
//     padding-right: 13px;
//   }
//   .features .feature-title {
//     font-size: 16px;
//     line-height: 26px;
//   }
//   .features .feature-subtitle {
//     font-size: 11.3158px;
//     line-height: 14px;
//     padding: 7px 0 0 0;

//   }
// } 